.books-card-list {
	display: grid;
	padding: 0;
	gap: 40px 40px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0 auto;
	width: 100%;
}

@media screen and (max-width:960px) {
	.books-card-list {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px 20px;
	}
}

@media screen and (max-width:768px) {
	.books-card-list {
		grid-template-columns: 1fr 1fr;
		
	}
}

@media screen and (max-width:700px) {
	.books-card-list {
		grid-template-columns: 1fr;
		gap: 10px;
	}
}